
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins";
    text-decoration: none;
    list-style: none;
    user-select: none;
    user-zoom: none; 
}
body {
    height: 100vh;
    background: #f3f3f3;
}

.user{
    background-color:lightblue; 
    border: 2px solid gray;
    height: 100%;
    position:absolute;
    overflow-y: scroll;
    cursor: pointer; 
}
.msg{
    background-color:azure;
    border:2px solid gray;
    position: absolute;
    /* margin-left: 25%; */
    height: 100%;
   
}